:root {
  --c-bg: #FFF;
  --c-body: #000;
  --f-base: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen-sans,
    ubuntu, cantarell, 'helvetica neue', sans-serif;
  --f-mono: Inconsolata, monospace;
  --s-width-reading: 40rem;
  --s-width-max: 60rem;
  --s-width-break: 800px;
  --s-indent: .8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #232946;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0 auto;
  max-width: var(--s-width-max);
  font-family: var(--f-base);
  line-height: 1.5;
  background: var(--c-bg);
  color: var(--c-body);
}

pre {
  border: 1px solid var(--c-body);
}

a {
  color: inherit;
  text-decoration: underline var(--c-body) dotted;
}

.a[href^="https"]:after {
  content: " " url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTAgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUwLjIgKDU1MDQ3KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5BcnRib2FyZDwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJBcnRib2FyZCIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTkuNzQ1NjM0MDIsMC4wMDUwNjIwMDk2MiBDOS44MTI5Nzk0MywwLjAwNDcyNTI3ODMxIDkuODc3NjgyMTIsMC4wMzEyNDI0MTc2IDkuOTI1NDIxNzIsMC4wNzg3NDQ1MTE0IEM5Ljk3MzE2MTMzLDAuMTI2MjQ2NjA1IDEwLjAwMDAwMDgsMC4xOTA4MTYyMzEgMTAsMC4yNTgxNjI0OTEgTDEwLDQuMTE2Njc5MzIgQzEwLDQuMjU2NDYyODYgOS44ODY2ODMwNSw0LjM2OTc3OTggOS43NDY4OTk1Miw0LjM2OTc3OTggTDguNzM0NDk3Niw0LjM2OTc3OTggQzguNTk0NzE0MDYsNC4zNjk3Nzk4IDguNDgxMzk3MTEsNC4yNTY0NjI4NiA4LjQ4MTM5NzExLDQuMTE2Njc5MzIgTDguNDgxMzk3MTEsMi41OTgwNzY0NCBMNS4xODcyOTQzNiw1Ljc3NDQ4NzQ3IEM1LjA4ODcyNTA4LDUuODcxNzg0NzggNC45MzAyNTc0NSw1Ljg3MTc4NDc4IDQuODMxNjg4MTgsNS43NzQ0ODc0NyBMNC4xMTY2NzkzMiw1LjA1ODIxMzExIEM0LjA2ODM3MzExLDUuMDEwNjQxMDEgNC4wNDExNzIzOSw0Ljk0NTY3NzIxIDQuMDQxMTcyMzksNC44Nzc4NzkwMiBDNC4wNDExNzIzOSw0LjgxMDA4MDgyIDQuMDY4MzczMTEsNC43NDUxMTcwMyA0LjExNjY3OTMyLDQuNjk3NTQ0OTMgTDcuNDA2OTg1NTcsMS41MjM2NjQ4OSBMNS44MzAxNjk1OCwxLjUyMzY2NDg5IEM1LjY5MDM4NjA0LDEuNTIzNjY0ODkgNS41NzcwNjkxLDEuNDEwMzQ3OTUgNS41NzcwNjkxLDEuMjcwNTY0NDEgTDUuNTc3MDY5MSwwLjI1ODE2MjQ5MSBDNS41NzcwNjkxLDAuMTE4Mzc4OTU1IDUuNjkwMzg2MDQsMC4wMDUwNjIwMDk2MiA1LjgzMDE2OTU4LDAuMDA1MDYyMDA5NjIgTDkuNzQ1NjM0MDIsMC4wMDUwNjIwMDk2MiBaIE05Ljc0Njg5OTUyLDUuNjk5ODIyODMgQzkuODgwMDU2NDUsNS42OTk3Nzg2IDkuOTg4OTc1MTEsNS44MDU4OTAwOCA5Ljk5MjQwNjk5LDUuOTM5MDAyNzggTDkuOTkyNDA2OTksOS43NzA5NDQwNiBDOS45OTIxNjM0Nyw5LjgzMDQxMDIgOS45NjkwNTQxMSw5Ljg4NzUwMzkgOS45Mjc4NjYzNiw5LjkzMDM5NzM3IEw5LjkyMDI3MzM1LDkuOTM3OTkwMzggQzkuODc2NzkzNjEsOS45Nzg5MDY2NSA5LjgxOTI1ODM0LDEwLjAwMTU1ODMgOS43NTk1NTQ1NCwxMC4wMDEyNjU1IEwwLjIzOTE3OTk1NCwxMC4wMDEyNjU1IEMwLjE3OTQ1NzM3NSwxMC4wMDEwODEzIDAuMTIyMTk1OTU5LDkuOTc3NDQ5NTkgMC4wNzk3MjY2NTE1LDkuOTM1NDU5MzggTDAuMDcyMTMzNjM3MSw5LjkzNTQ1OTM4IEwwLjA2NTgwNjEyNSw5LjkyNzg2NjM2IEMwLjAyNDI2NjI5NjMsOS44ODUwOTk4MiAwLjAwMDcxMzE0Mzg3OCw5LjgyODAyODcyIDAsOS43Njg0MTMwNiBMMCwwLjIzOTE3OTk1NCBDMC4wMDAxODQyMTI1NzksMC4xNzk0NTczNzUgMC4wMjM4MTU5MDc5LDAuMTIyMTk1OTU5IDAuMDY1ODA2MTI1LDAuMDc5NzI2NjUxNSBMMC4wNzIxMzM2MzcxLDAuMDcyMTMzNjM3MSBMMC4wNzk3MjY2NTE1LDAuMDY1ODA2MTI1IEMwLjEyMjE5NTk1OSwwLjAyMzgxNTkwNzkgMC4xNzk0NTczNzUsMC4wMDAxODQyMTI1NzkgMC4yMzkxNzk5NTQsMy41NTI3MTM2OGUtMTUgTDQuMDY0NzkzNzIsMy41NTI3MTM2OGUtMTUgQzQuMTMwMTM5MjMsMC4wMDE2NTI3ODExIDQuMTkyMTI3NywwLjAyOTI5NjMyNTQgNC4yMzcwMjM3NiwwLjA3NjgwNTM4MTYgQzQuMjgxOTE5ODIsMC4xMjQzMTQ0MzggNC4zMDYwMTYyMiwwLjE4Nzc2NTk5OSA0LjMwMzk3MzY4LDAuMjUzMTAwNDgxIEw0LjMwMzk3MzY4LDEuMjY1NTAyNCBDNC4zMDYwMTYyMiwxLjMzMDgzNjg5IDQuMjgxOTE5ODIsMS4zOTQyODg0NSA0LjIzNzAyMzc2LDEuNDQxNzk3NSBDNC4xOTIxMjc3LDEuNDg5MzA2NTYgNC4xMzAxMzkyMywxLjUxNjk1MDEgNC4wNjQ3OTM3MiwxLjUxODYwMjg5IEwxLjUxMTAwOTg3LDEuNTE4NjAyODkgTDEuNTExMDA5ODcsOC40OTQwNTIxNCBMOC40ODEzOTcxMSw4LjQ5NDA1MjE0IEw4LjQ4MTM5NzExLDUuOTM5MDAyNzggQzguNDgzMDQ5OSw1Ljg3MzY1NzI4IDguNTEwNjkzNDQsNS44MTE2Njg4IDguNTU4MjAyNSw1Ljc2Njc3Mjc0IEM4LjYwNTcxMTU1LDUuNzIxODc2NjkgOC42NjkxNjMxMSw1LjY5Nzc4MDI5IDguNzM0NDk3Niw1LjY5OTgyMjgzIEw5Ljc0Njg5OTUyLDUuNjk5ODIyODMgWiIgaWQ9ImxpbmsiIGZpbGw9IiMwMDAwMDAiIGZpbGwtcnVsZT0ibm9uemVybyI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4=');
  transform: translateY(-2px);
}

a:hover, a:focus {
  color: var(--c-bg);
  background: var(--c-body);
  fill: var(--c-bg);
}

img {
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
}

table + h1 {
  margin-top: 0;
}

th {
  text-align: left;
  text-decoration: underline;
}

td {
  padding: .3rem 0;
}

figure {
  margin-left: 0;
}

figcaption {
  font-style: italic;
}

.two-col-wrapper {
  display: flex;
  height: 100%;
  margin: 2rem 0 4rem;
  padding: 0 1rem;
}

.two-col-main {
  width: 100%;
  order: 2;
  flex-grow: 1;
  padding-left: 1rem;
}

.two-col-sidebar {
  order: 1;
  flex-shrink: 0;
  width: 12rem;
}

@media screen and (max-width: 800px) {
  .two-col-wrapper {
    flex-direction: column;
    margin: 0 0 2rem;
    padding: 0;
  }

  .two-col-main {
    margin-top: 1rem;
    padding: 0 1rem;
  }

  .two-col-sidebar {
    width: auto;
    position: sticky;
    top: 0;
    padding: 0 1rem;
    color: var(--c-bg);
    background: var(--c-body);
  }
}

/**
 * SITE HEADER
 */
.site-header-nav {
  margin-top: .5rem;
}

.site-header__home-link {
  display: block;
  margin-bottom: .2rem;
  font-weight: bold; 
  text-decoration: none;
}

.site-header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header__list > li {
  margin-top: 1rem;
}

.site-header__list ul {
  margin: 0;
  padding: 0 0 0 var(--s-indent);
  list-style: none;
}

@media screen and (max-width: 800px) {
  .site-header-nav {
    margin: .5rem 0;
  }
  .site-header__list {
    display: none;
  }
}

/**
 * SITE FOOTER
 */
.site-footer {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-footer__nav-list a {
  margin-right: 1rem;
}

.site-footer__built {
  margin: .5rem 0 0;
}

.site-footer__built span {
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .site-footer {
    display: block;
    padding: 1rem;
    color: var(--c-bg);
    background: var(--c-body)
  }

  .site-footer__nav-list {
    display: block;
  }
}

/**
 * HOME NAV (mobile only)
*/
@media screen and (min-width: 800px) {
  .home-nav {
    display: none;
  }
}

.home-nav {
  margin-bottom: 2rem;
}

.home-nav__list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-nav__list-column {
  width: 50%;
}

.home-nav__group {
  padding-bottom: 1rem;
}

/**
 * PAGINATION
 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-count {
  margin: 0;
  padding: 0 1rem;
}

/**
 * DEFAULT SECTION
 */
.default-section-title {
  margin-top: 0;
}

.default-section-item {
  margin-bottom: 2rem;
}

.default-section-item__title {
  margin: 0 0 .3rem;
}

.default-section-item time {
  display: block;
  margin-bottom: .5rem;
  font-style: italic;
}

/**
 * DEFAULT SINGLE
 */
.default-single-main__title {
  margin: 0 0 .5rem 0;
}

.default-single-main__date {
  font-style: italic;
}

.default-single-main__content {
  margin: 2rem 0;
}

.default-single-main__content pre {
  max-width: 100%;
  font-size: 1rem;
  padding: 1rem;
  overflow-y: scroll;
}

.default-single-main__content code {
  padding: 3px;
  font-size: 1rem;
}

.default-single-main__content hr {
  border: none;
  border-bottom: 3px solid var(--c-body);
}

.post-section-marker {
  display: inline-block;
  margin: 0 .5rem 0 0;
}

.post-section-marker a {
  padding: 0 .5rem;
  background-color: var(--c-body);
  color: var(--c-bg);
  text-decoration: none;
}


/**
 * HIGHLIGHT LIST
 */
.highlight-list-title {
  margin: 0 0 1rem 0;
}
.highlight-list-item {
  margin-bottom: 3rem;
}

.highlight-list-item blockquote {
  margin-left: 0;
  padding-left: var(--s-indent);
  border-left: 1px solid var(--c-body);
}


.highlight-list-item__date a {
  margin: 0 -.2em;
}

/**
 * HIGHLIGHT SINGLE
 */
.highlight-main__title {
  margin: 0 0 .5rem 0;
}

.highlight-main__section-marker {
  display: inline-block;
  margin: 0 .5rem 0 0;
}

.highlight-main__section-marker a {
  padding: 0 .5rem;
  background-color: var(--c-body);
  color: var(--c-bg);
  text-decoration: none;
}

.highlight-main__content blockquote {
  margin: 1rem 0 0;
  padding-left: var(--s-indent);
  border-left: 1px solid var(--c-body);
}

/**
 * NOTE LIST
 */
.note-list-title {
  margin: 0 0 1rem 0;
}

.note-list-item {
  margin-bottom: 4rem;
}

.note-list__content {
  margin-bottom: .5rem;
  font-size: 2rem;
}

/**
 * NOTE SINGLE
 */
.note-main__content {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

/**
 * JOURNAL SECTION
 */
.journal-section-title {
  margin-top: 0;
}

.journal-section-item {
  margin-bottom: 2rem;
}

.journal-section-item__title {
  margin: 1rem 0 .5rem 0;
}

/**
 * TAXONOMY SECTION
 */
.taxonomy-section-title {
  margin-top: 0;
}

.taxonomy-section-item {
  margin-bottom: 2rem;
}

.taxonomy-section-item__title {
  margin: 0 0 .3rem;
}

.taxonomy-section-item__infoline {
  margin: 0 0 .5rem;
}

/**
* SHARE PAGES
*/
form label {
  display: block;
  margin-top: 1rem;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem;
  font-size: 1rem;
}

form textarea {
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  font-family: var(--f-base);
}

/**
 * MEDIA TABLE
 */
.media-table {
  margin-top: 2rem;
}

.media-table th {
  text-align: left;
  text-decoration: underline;
}

.media-table td {
  padding: .3em 0;
}

.media-table--book .media-table__date {
  width: 7em;
}

.media-table--book .media-table__title {
  width: 30em;
}

.media-table--articles .media-table__date {
  width: 7em;
}

@media screen and (max-width: 800px) {
  .media-table--book .media-table__date {
    display: none;
  }

  .media-table--book th:first-child {
    display: none;
  }
}

/**
 * PRINT
 */
@media print {
  .two-col-sidebar {
    display: none;
  }

  .site-footer {
    display: none;
  }
}
