:root {
  --c-bg: #fffffe;
  --c-body: #020826;
  --c-panel-bg: #f25042;
  --c-panel-body: #fffffe;
  --c-panel2-bg: #f9f4ef;
  --c-panel2-body: #020826;
  --c-accent: #de2919;

  --f-title: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen-sans,
    ubuntu, cantarell, 'helvetica neue', sans-serif;
  --f-mono: Inconsolata, monospace;
  --f-base: Times New Roman, times, serif;
  --s-width-max: 65rem;
  --s-width-sidebar: 15rem;
  --s-width-break: 800px;
  --s-indent: .8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #020826;
    --c-body: #fffffe;
    --c-panel-bg: #de2919;
    --c-panel-body: #020826;
  }

  a {
    color: inherit !important;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0 auto;
  font-family: var(--f-base);
  line-height: 1.5;
  background: var(--c-bg);
  color: var(--c-body);
}

pre {
  border: 1px solid var(--c-body);
  background: var(--c-bg2);
  color: var(--c-heading);
}

a {
  color: inherit;
  text-decoration-line: underline;
}

a:hover, a:focus {
  color: var(--c-panel2-body);
  background: var(--c-panel2-bg);
  fill: var(--c-panel2-body);
}

.site-wrapper a, .site-footer a {
  color: var(--c-accent);
}

.site-wrapper a:focus,
.site-wrapper a:hover,
.site-footer a:focus,
.site-footer a:hover {
  color: var(--c-panel-body);
  background: var(--c-panel-bg);
}


img {
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
}

table + h1 {
  margin-top: 0;
}

th {
  text-align: left;
  text-decoration: underline;
}

td {
  padding: .3rem 0;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--s-indent);
  border-left: 1px solid var(--c-body);
}

.highlight pre {
  padding: 1rem;
  border-radius: 3px;
}

figure {
  margin: 2rem 0;
}

figure img {
  display: block;
  width: 100%;
}

figcaption {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--f-title);
}

/**
 * SITE HEADER
 */
.site-header-nav {
  margin-bottom: 1rem;
  padding: 1rem 0;
  font-family: var(--f-title);
  color: var(--c-panel-body);
  background-color: var(--c-panel-bg);
  border-bottom: 1px solid var(--c-panel-head);
}

.site-header-nav ul {
  padding: 0 1rem;
  list-style: none;
  margin: 0 auto;
  max-width: var(--s-width-max);
  display: flex;
}

.site-header-nav li:not(:last-child) {
  padding-right: 1rem;
}

.site-header__home-link {
  max-width: var(--s-width-max);
  font-weight: bold; 
  color: var(--c-panel-head);
}

@media screen and (max-width: 800px) {
  .site-header-nav ul {
    display: block;
  }
}

/**
 * SITE FOOTER
 */
.site-footer {
  margin: 1rem auto;
  padding: 0 1rem;
  max-width: var(--s-width-max);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid --var(--c-body);
}

.site-footer__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__nav-list a {
  margin-right: 1rem;
}

.site-footer__built {
  margin: .5rem 0 0;
}

.site-footer__built span {
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .site-footer {
    display: block;
    padding: 1rem;
    margin: 0;
    color: var(--c-bg);
    background: var(--c-body)
  }

  .site-footer a {
    color: inherit;
  }

  .site-footer__nav-list {
    display: block;
  }
}

/**
 * PAGE LAYOUT
 */
.site-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: var(--s-width-max);
}

.main-wrapper {
  flex: 1;
  overflow: hidden;
}

.aside-wrapper {
  flex: 1 1 0;
  max-width: var(--s-width-sidebar);
  padding-left: 1rem;
}

@media screen and (max-width: 800px) {
  .site-wrapper {
    display: block;
  }

  .aside-wrapper {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
  }
}

/**
 * PAGINATION
 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-count {
  margin: 0;
  padding: 0 1rem;
}

/**
 * ELSEWHERE NAV
 */
.elsewhere-nav h3 {
  margin: 0 0 .5rem;
}

.elsewhere-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**
 * SINGLE TAGS
 */
.single-tags {
}

.single-tags h3 {
  margin: 0 0 .5rem;
}

.single-tags ul  {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.single-tags li {
  display: inline-block;
}

.single-tags li:not(:last-child)::after {
  content: ", ";
}

.single-tags li a::before {
  content: "#";
}

/**
 * SEE ALSO
 */
.see-also {
  margin-bottom: 1rem;
}

.see-also h3 {
  margin: 0 0 .5rem;
}

.see-also ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.see-also li:not(:last-child) {
  margin-bottom: 1em;
}

/**
 * MEDIA NAV
 */
.media-nav {
  margin: -1rem 0 1rem;
  padding: .5rem 0;
  font-family: var(--f-title);
  color: var(--c-panel2-body);
  background-color: var(--c-panel2-bg);
}

.media-nav ul {
  max-width: var(--s-width-max);
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  list-style: none;
}

.media-nav li:not(:last-child) {
  padding-right: 1rem;
}

.media-nav li:first-child a {
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .media-nav ul {
    display: block;
  }
}

/**
 * DEFAULT SECTION
 */
.default-section-title {
  margin-top: 0;
}

.default-section-item {
  margin-bottom: 2rem;
}

.default-section-item__title {
  margin: 0 0 .3rem;
}

.default-section-item time {
  display: block;
  margin-bottom: .5rem;
  font-style: italic;
}

/**
 * DEFAULT SINGLE
 */
.default-single-main {
  margin: 0 auto;
  max-width: var(--s-width-max);
}

.default-single-main__title {
  margin: 0 0 .5rem 0;
}

.default-single-main__date {
  font-style: italic;
}

.default-single-main__content {
  margin: 2rem 0;
}

.default-single-main__content pre {
  max-width: 100%;
  font-size: 1rem;
  padding: 1rem;
  overflow-y: scroll;
}

.default-single-main__content code {
  padding: 3px;
  font-size: 1rem;
}

.default-single-main__content hr {
  border: none;
  border-bottom: 3px solid var(--c-body);
}

.post-section-marker {
  font-family: var(--f-title);
  display: inline-block;
  margin: 0 .5rem 0 0;
}

.post-section-marker a {
  padding: 0 .5rem;
  background-color: var(--c-body);
  color: var(--c-bg);
  text-decoration: none;
}

/**
 * HIGHLIGHT LIST
 */
.highlight-list-title {
  margin: 0 0 1rem 0;
}

.highlight-list-item {
  margin-bottom: 3rem;
}

.highlight-list-item h3 {
  margin-bottom: 0;
}

/**
 * HIGHLIGHT SINGLE
 */
.highlight-main__title {
  margin: 0 0 .5rem 0;
}

.highlight-main__section-marker {
  display: inline-block;
  margin: 0 .5rem 0 0;
}

.highlight-main__section-marker a {
  padding: 0 .5rem;
  background-color: var(--c-body);
  color: var(--c-bg);
  text-decoration: none;
}

.highlight-main__content blockquote {
  margin: 1rem 0 0;
  padding-left: var(--s-indent);
  border-left: 1px solid var(--c-body);
}

/**
 * NOTE LIST
 */
.note-list-title {
  margin: 0 0 2rem 0;
}

.note-list-item {
  margin-bottom: 4rem;
}

.note-list__content {
  margin-bottom: .5rem;
  font-size: 2rem;
}

/**
 * NOTE SINGLE
 */
.note-main__content {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

/**
 * JOURNAL SECTION
 */
.journal-section-title {
  margin-top: 0;
}

.journal-section-item {
  margin-bottom: 2rem;
}

.journal-section-item__title {
  margin: 1rem 0 .5rem 0;
}

/**
 * TAXONOMY SECTION
 */
.taxonomy-section-title {
  margin-top: 0;
}

.taxonomy-section-item {
  margin-bottom: 2rem;
}

.taxonomy-section-item__title {
  margin: 0 0 .3rem;
}

.taxonomy-section-item__infoline {
  margin: 0 0 .5rem;
}

/**
* SHARE PAGES
*/
form label {
  display: block;
  margin-top: 1rem;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem;
  font-size: 1rem;
}

form textarea {
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  font-family: var(--f-base);
}

/**
 * MEDIA TABLE
 */
.media-table {
  margin-top: 2rem;
}

.media-table th {
  text-align: left;
  text-decoration: underline;
}

.media-table td {
  padding: .3em 0;
}

.media-table--book .media-table__date {
  width: 7em;
}

.media-table--book .media-table__title {
  width: 30em;
}

.media-table--articles .media-table__date {
  width: 7em;
}

@media screen and (max-width: 800px) {
  .media-table--book .media-table__date {
    display: none;
  }

  .media-table--book th:first-child {
    display: none;
  }
}

/**
 * PRINT
 */
@media print {
  .two-col-sidebar {
    display: none;
  }

  .site-footer {
    display: none;
  }
}
