node_modules
npm-debug.log*

.DS_Store
.Ulysses-Group.plist

.env
api_env.env
caddy/certs
caddy/logs

syncthing/config/index-v0.14.0.db
syncthing/config/*.pem

site_output
site/tmp
site/build
site/public
site/resources
site/node_modules
