{
  email hello@jackreid.xyz
}

jackreid.xyz {
  encode gzip
  root * /usr/share/caddy/site
  file_server

  log {
    output file /etc/caddy/logs/server_log
  }

  handle_errors {
    rewrite * /{http.error.status_code}.html
    file_server
  }
}

api.jackreid.xyz {
  encode gzip

  reverse_proxy * http://localhost:3000 {
    health_path /health
    health_interval 5m
  }

  log {
    output file /etc/caddy/logs/server_log
  }
}

metrics.jackreid.xyz {
  encode gzip

  reverse_proxy * localhost:8384 {
    header_up Host localhost
    health_path /
    health_interval 5m
  }

  log {
    output file /etc/caddy/logs/server_log
  }
}
