{
  email hello@jackreid.xyz
}

jackreid.xyz {
  encode gzip
  root * /home/jack/server/site/public
  file_server

  handle_errors {
    rewrite * /{http.error.status_code}.html
    file_server
  }

  log {
    output file /home/jack/logs/site/access.log
    format common_log
  }
}

api.jackreid.xyz {
  encode gzip

  reverse_proxy * http://localhost:3000 {
    health_path /health
    health_interval 5m
  }

  log {
    output file /home/jack/logs/api/access.log
    format common_log
  }
}
