<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "site-header.html" . -}}
    {{- block "subnav" . }}{{- end }}
    <div class="site-wrapper site-wrapper--{{.Section}}">
      <div class="main-wrapper">
      {{- block "main" . }}{{- end }}
      </div>
      {{ if ne .Section "photo" }}
      <div class="aside-wrapper">
      {{- block "aside" . }}{{- end }}
      </div>
      {{ end }}
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
