{{ define "main" }}
<main class="default-single-main">

  <h1 class="default-single-main__title">{{ .Title }}</h1>

  <div class="default-single-main__infoline">
    <time class="default-single-main__date"
          datetime="{{ .Date.Format "2006-01-02T15:04:05.000Z" }}">
      {{ .Date.Format "Monday, 2 January 2006" }}
    </time>
    {{ if .Params.Location }}
    <span>&middot;</span>
    <span>{{ .Params.Location }}</span>
    {{ end }}
  </div>

  <p class="default-single-main__taxonomies">
    <span class="post-section-marker">
      <a href="/{{ .Section }}">{{ .Section | title }}</a>
    </span>
    {{ if (.GetTerms "tags") }}
    <span class="default-single-main__taxonomies-tags">
      {{ range (.GetTerms "tags") }}
      <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      {{ end }}
    </span>
    {{ end }}
  </p>

  <div class="default-single-main__content">
    {{ .Content }}
  </div>

  {{- partial "see-also.html" . -}}
</main>
{{ end }}
