<header class="site-header">
  <h1 class="site-header__title"><a href="{{ .Site.BaseURL }}">Jack Reid</a></h1>
  <nav class="site-header__nav">
    <ul class="site-header__nav-list">
      <li>
        <h2>They Say</h2>
        <ul>
          <li>
            <a href="{{ "highlight" | absURL }}">Highlights</a>
          </li>
          <li>
            <a href="{{ "books/reading" | absURL }}">Books</a>
          </li>
          <li>
            <a href="{{ "films/watched" | absURL }}">Films</a>
          </li>
          <li>
            <a href="{{ "articles/liked" | absURL }}">Articles</a>
          </li>
          <li>
            <a href="{{ "link" | absURL }}">Links</a>
          </li>
        </ul>
      </li>
      <li>
        <h2>I Say</h2>
        <ul>
          <li>
            <a href="{{ "note" | absURL }}">Notes</a>
          </li>
          <li>
            <a href="{{ "post" | absURL }}">Posts</a>
          </li>
          <li>
            <a href="{{ "journal" | absURL }}">Journal</a>
          </li>
          <li>
            <a href="{{ "work" | absURL }}">Work</a>
          </li>
        </ul>
        <li>
          <a href="{{ "rss" | absURL }}">RSS</a>
        </li>
    </ul>
  </nav>
</header>
