<header class="site-header">
    <h1 class="site-header__title"><a href="{{ .Site.BaseURL }}">Jack Reid</a></h1>
    <nav class="site-header__nav">
      <ul class="site-header__nav-list">
        <li>
          <a href="{{ "highlight" | absURL }}">Highlights</a>
        </li>
        <li>
          <a href="{{ "note" | absURL }}">Notes</a>
        </li>
        <li>
          <a href="{{ "post" | absURL }}">Posts</a>
        </li>
        <li>
          <a href="{{ "photo" | absURL }}">Photos</a>
        </li>
      </ul>
      <ul class="site-header__nav-list">
        <li>
          <a href="{{ "media" | absURL }}">Media</a>
        </li>
        <li>
          <a href="{{ "work" | absURL }}">Work</a>
        </li>
        <li>
          <a href="{{ "link" | absURL }}">Links</a>
        </li>
        <li>
          <a href="{{ "rss" | absURL }}">RSS</a>
        </li>
      </ul>
    </nav>
</header>
