<nav class="home-nav">
  <dl>
    <div>
      <dt><a href="{{ "media" | absURL }}">Media Diet</a></dt>
      <dd>Here you can see a breakdown of what I'm reading online, whatbooks I'm reading, and what films I'm watching.</dd>
    </div>
    <div>
      <dt><a href="{{ "post" | absURL }}">Blog</a></dt>
      <dd>The blog is a big mixture of technical write-ups, creative writing, and quick notes.</dd>
    </div>
    <div>
      <dt><a href="{{ "journal" | absURL }}">Journal</a></dt>
      <dd>A sporadic daily journal where I can talk through what's happening around me a bit.</dd>
    </div>
    <div>
      <dt><a href="{{ "work" | absURL }}">Work</a></dt>
      <dd>An overview of my work history and major projects I've worked on, as well as links to my CV etc.</dd>
    </div>
  </dl>
</nav>
