<nav class="site-header-nav site-header-nav--secondary">
  <a class="site-header-nav__home-link" href="/media">
    {{- partial "icons/double-down.html" . -}}
    <span>Media Diet</span>
    {{- partial "icons/double-down.html" . -}}
  </a>
  <dl>
    <div>
      <dt><a href="/highlight">Highlights</a></dt>
      <dd>Interesting parts of articles I read online.</dd>
    </div>
    <div>
      <dt><a href="/articles/saved">Saved Articles</a></dt>
      <dd>Articles I've saved with Pocket to read later.</dd>
    </div>
    <div>
      <dt><a href="/links">Links</a></dt>
      <dd>Collected interesting websites and experiments.</dd>
    </div>
    <div>
      <dt>Books (<a href="/books/read">Past</a>, <a href="/books/reading">Present</a>, <a href="/books/toread">Future</a>)</dt>
      <dd>Books I'm reading tracked via Goodreads.</dd>
    </div>
    <div>
      <dt>Films (<a href="/films/watched">Past</a>, <a href="/films/towatch">Future</a>)</dt>
      <dd>Films I'm watching via Letterboxd.</dd>
    </div>
  </dl>
</nav>
