<div class="random-photo">
  <h2>Random photo</h2>
  {{ range where .Site.RegularPages "Section" "photo" | shuffle | first 1 }}
    <a class="random-photo__image" href="{{ .Permalink }}">
      <img class="random-photo__image" src="{{ .Params.image }}" alt="">
    </a>
    <div class="random-photo__info">
      <p datetime="{{ .Date.Format "2006-01-02T15:04:05.000Z" }}">
        {{ .Date.Format "Monday, 2 January 2006" }}
      </p>
      {{ if .Params.location }}
      <p class="random-photo__location">{{ .Params.location }}</p>
      {{ end }}
    </div>
  {{ end }}
</div>
