<nav class="site-header-nav">
  <a class="site-header__home-link" href="/">Jack Reid</a>
  <ul class="site-header__list">
    <li><a href="/highlight">Highlights</a></li>
    <li><a href="/post">Posts</a></li>
    <li><a href="/journal">Journal</a></li>
    <li><a href="/note">Notes</a></li>
    <li><a href="/media">Media</a></li>
    <li><a href="/link">Links</a></li>
    <li>About
      <ul>
    <li><a href="/work">Work</a></li>
    <li><a href="/uses">Uses</a></li>
      </ul>
    </li>
    <li><a href="/rss">RSS</a></li>
  </ul>
</nav>
